.Experience {

  &__item {
    &-year {
      font-size: $text-small;
      color: $gray;
      padding-right: 2rem;
    }

    a {
      display: flex;
      justify-content: space-between;
    }
  }

  ul {
    margin: 1rem 0;
    padding-left: 1.4rem;

    li {
      list-style: disc;
      color: $white;
      margin-bottom: 1.4rem;


      h4 {
        font-size: $headline-tiny;
        font-weight: 400;
      }

      p {
        font-size: $text-big;
        margin: 0.4rem 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .Experience {
    align-self: center;
    width: 880px;
  }
}