.Header {
  align-items: center;
  background-color: $primary;
  display: flex;
  height: 3rem;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  .Header__menu,
  .Header__logo {
    margin: 0 0.8rem;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
  }

  .Header__menu {
    &-open {
      background-image: url('../assets/Close.svg');
      height: 1.4rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-closed {
      background-image: url('../assets/Menu\ 1.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .Header__logo {
    background-image: url('../assets/Logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__divider {
    width: 100%;
    height: 2px;
    background-color: $complementary;
  }
}