.Projects {

  &__card {
    margin: 1.4rem 0 3rem 0;

    img {
      width: 100%;
      margin: 0.8rem 0;
      filter: grayscale(100%);

      &:hover {
        transition: ease-in 0.3s;
        filter: none;
      }
    }

    h4 {
      font-size: $headline-tiny;
      font-weight: 400;
    }

    p {
      font-size: $text-medium;
      margin-bottom: 0;
    }

    &-footer {
      margin-top: 0.4rem;

      a {
        font-size: $text-small;
        color: $gray;
        font-weight: 100;
        margin-right: 0.8rem;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .Projects {
    align-self: center;
    width: 880px;
  }
}