.AboutMe {
  background: var(--secondaryColor);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.AboutMe>h2 {
  font-weight: 600;
  font-size: 2.2em;
  text-align: center;
  padding: 40px;
  margin: 0;
}

.AboutMe>img {
  height: 40vh;
  width: 40vh;
}

.AboutMe>pre {
  display: block;
  font-family: 'Open Sans';
  white-space: pre-line;
  margin: 40px 0;
}