@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Poppins:wght@300;400&display=swap');
/* Colors */
:root {
    --primary-blue: #17D8FF;
    --light-blue: #5FB7E3;
    --white-blue: #F5FCFF;
    --gray-blue: #96A2A8;
    --dark-blue: #062433;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    color: var(--white-blue);
    font-family: 'Poppons', sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 500;
    margin: 0;
}
p, small, strong {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
a {
    font-family: 'Poppins', sans-serif;
    color: var(--white-blue);
    text-decoration: none;
}
footer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 40px;
}
.header-container {
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container .menu-icon {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    background-image: url('@icons/Menu.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-container .menu-icon:hover {
    box-shadow: 0px 0px 5px 2px var(--white-blue);
}
.header-container .logo-icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    background-image: url('@icons/Logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-container {
    margin: 20px;
    border-left: 2px solid var(--light-blue);
    border-right: 2px solid var(--light-blue);
}
.header-container {
    height: 60px;
    width: 100%;
}
.greeting-card {
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--white-blue);
    border-radius: 5px;
}
.greeting-card h4 {
    margin: 15px 0;
}
.greeting-card .button-mail {
    margin: 10px 20px;
    width: 100%;
    max-width: 180px;
    align-self: center;
    text-align: center;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--light-blue);
    color: var(--white-blue);
}
.greeting-card .button-mail:hover {
    background-color: var(--primary-blue);
    box-shadow: 0px 0px 5px 2px var(--gray-blue);
}
.section {
    margin: 0px 30px 80px 30px;
}
.title {
    margin-bottom: 5px;
    font-size: 22px;
}
.subtitle {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 20px;
}
.page-frame--info-container .page-frame--icons {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.page-frame--info-container .page-frame--email {
    width: 50%;
}
.page-frame--info-container .page-frame--email p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: center;
    transform: rotate(90deg) translate(135px, 10px);
    transform-origin: right;
    width: 100%;
}
.side-containers {
    height: 205px;
    width: 30px;
    top: calc(100vh - 24%);
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    z-index: 9;
}
.icons-container {
    left: 6px;
}
.email-container {
    right: 6px;
}
.email-container a {
    height: 100%;
    transform: rotate(90deg);
    transform-origin: top;
    left: 13px;
    position: relative;
    bottom: -25px;
    font-size: 14px;
}
.icon {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 5px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.icon:hover {
    box-shadow: 0px 0px 4px 3px var(--primary-blue);
}
.icons-container .icon-github {
    background-image: url('@icons/Github.svg');
}
.icons-container .icon-linkedin {
    background-image: url('@icons/LinkedIn.svg');
}
.icons-container .icon-twitter {
    background-image: url('@icons/Twitter.svg');
}
.icons-container .icon-instagram {
    background-image: url('@icons/Instagram.svg');
}
.about-me{
    text-align: justify;
}
.experience-container--card {
    margin: 20px 0;
}
.experience-container--card p a {
    font-size: 12px;
    font-weight: bold;
}
.experience-container--card p span {
    font-size: 12px;
}
.proyect-card {
    margin-bottom: 30px;
}
.proyect-card a img {
    width: 100%;
    margin-top: 10px;
}
.proyect-card a img:hover {
    box-shadow: 0px 0px 8px 1px var(--primary-blue);
    cursor: pointer;
}
.proyect-card h4 {
    margin: 10px 0;
}
.proyect-card p {
    font-size: 14px;
}
.proyect-card--links {
    font-size: 12px;
    font-style: italic;
    margin-top: 5px;
}
.course-card {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.course-card a {
    margin-top: 10px;
    text-align: center;
}
.course-card a img {
    width: 50%;
}
.course-card--title {
    font-size: 14px;
}
.course-card p a {
    font-size: 12px;
    font-style: italic;
}