// Variables
// Colors
$white: #F5FCFF;
$black: #062433;
$gray: #96A2A8;
$primary: #062433;
$secondary: #17D8FF;
$complementary: #5FB7E3;

// Text
$headline-big: 30px;
$headline-medium: 26px;
$headline-small: 22px;
$headline-tiny: 18px;
$text-big: 16px;
$text-medium: 14px;
$text-small: 12px;

// font-family: 'Poppins', sans-serif;
* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

html,
body {
  width: 100vw;
  background-color: $primary;
}

h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
  color: $white;
}

h2 {
  font-size: $headline-small;
  font-weight: 400;
}

h3 {
  font-size: $text-medium;
  font-weight: 300;
  margin: 5px 0;
}

p {
  font-size: $text-big;
  font-family: 'Poppins', 'Noto Sans', Arial;
  margin: 15px 0;
}

main {
  width: 100vw;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}